{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %} 
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">{{product.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="/media/{{product.cover_img}}" id="current" alt="#">
                            </div>
                            <div class="images">
                                <img src="/media/{{product.cover_img}}" class="img" alt="image" name="productImg" onclick="replace_image('{{product.cover_img}}')">
                                {% if product_images %}
                                    {% for product_img in product_images %}
                                        <img src="/media/{{product_img.image}}" class="img" alt="image" name="productImg" onclick="replace_image('{{product_img.image}}')">
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <p class="category">{{product.category.name}}</p>
                        <h2 class="title">{{product.name}}</h2>
                        <p class="category"><i class="fa-solid fa-truck-fast"></i> Buyurtma asosida yetkazib beriladi</p>
                        <h3 class="price">${{product.price}}</h3>
                        <p class="info-text">{{product.desc}}</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>Ulashish</p>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        <button class="btn" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#exampleModal">Buyurtma berish</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <a class="btn" href="tel://990764040"><i class="fa-solid fa-phone"></i> Bog'lanish</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="fa-solid fa-file-pdf"></i> Yuklab olish</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if product_images %}
        <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="info-body custom-responsive-margin">
                            {% for product_img in product_images %}
                                <img src="/media/{{product_img.image}}" class="img mx-auto w-100" alt="image" name="productImg" onclick="replace_image('{{product_img.image}}')">
                            {% endfor %}        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="section-title mt-5">
                    <h2>O'xshash mahsulotlar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="row">
                    {% if reccom_products%}
                        {% for reccom_product in reccom_products %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-product">
                                <div class="product-image">
                                    <img src="/media/{{reccom_product.cover_img}}" onload="pagespeed.switchToHighResAndMaybeBeacon(this);" onerror="this.onerror=null;pagespeed.switchToHighResAndMaybeBeacon(this);">
                                    <div class="button">
                                        <a href="{% url 'product' reccom_product.pk %}" class="btn">Batafsil <i class="fa-solid fa-arrow-right-long mx-2"></i></a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="title">
                                        <a href="{% url 'product' reccom_product.pk %}">{{reccom_product.name}}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-name">Your Name</label>
                            <input class="form-control" type="text" id="review-name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-email">Your Email</label>
                            <input class="form-control" type="email" id="review-email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-subject">Subject</label>
                            <input class="form-control" type="text" id="review-subject" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-rating">Rating</label>
                            <select class="form-control" id="review-rating">
                                <option>5 Stars</option>
                                <option>4 Stars</option>
                                <option>3 Stars</option>
                                <option>2 Stars</option>
                                <option>1 Star</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review-message">Review</label>
                    <textarea class="form-control" id="review-message" rows="8" required></textarea>
                </div>
            </div>
            <div class="modal-footer button">
                <button type="button" class="btn">Submit Review</button>
            </div>
        </div>
    </div>
</div>

<script>
    var ProductImage = document.getElementById("current");
    var SmallImages = document.getElementsByName("productImg");

    function replace_image(source){
        ProductImage.src = '/media/' + source
    }
</script>
{% endblock %}